@import 'tailwindcss';

@theme {
  --font-serif: 'Volkhov', serif;
  --font-sans: 'Google Sans Flex', sans-serif;
  --font-poppins: Poppins, sans-serif;
  --color-*: initial;
  --color-light-red: #df6951;
  --color-white: #fefefe;
  --color-black: #242424;
  --color-orange: #ff6900;
  --animate-wiggle: wiggle 1.4s ease-in-out infinite alternate;

  @keyframes wiggle {
    to {
      transform: rotate(30deg);
    }
  }
}

:root {
  color: #5e6282;
  background-color: #fefefe;

  @variant dark {
    color: #fefefe;
    background-color: #242424;
  }
}
